.pokemon {
  width: 300px;
  height: 200px;
  background-color: rgb(8, 154, 164);
  border: solid;
  border-color: black;
  box-shadow: 10px 15px 28px rgb(104, 211, 219);
  margin-left: auto;
  margin-right: auto;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

ul {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
  padding: 15px;
}

p {
  display: inline-block;
  margin-top: 87px;
  color: white;
}