<template>
    <ul>
     <li v-for="pokemon in pokemonData" :key="pokemon.name">
        <div class="pokemon">
         <p>{{pokemon.name}}</p>
       </div>
     </li>
   </ul>

  <button @click.prevent="load">load data</button>

  

</template>

<script>
export default {
  name: 'App',
  components: {
  },

  data() {
    return {
      pokemonData: [],
    };
  },

  methods: {
    load() {
      fetch("https://pokeapi.co/api/v2/pokemon/?limit=151")
        .then(async response => {
          const data = await response.json();

          // check for error response
          if (!response.ok) {
            // get error message from body or default to response statusText
            const error = (data && data.message) || response.statusText;
            return Promise.reject(error);
          }else{
            console.log(data.results);
          }

          this.pokemonData = data.results;
      
        })
        .catch(error => {
          this.errorMessage = error;
          console.error("There was an error!", error);
        }) 
    },
 
    check() {
      console.log(this.pokemonData)
    }

    }
  }
</script>
